header{
	text-align: right;
}


.cell{
	width:50px;
	height:50px;
	position:relative;
	overflow:hidden;
	float:left;
	border:10px solid rgb(69, 170, 184)
}

.cell:before{
	content: '';
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	box-shadow: 0px 300px 0px 345px rgb(69, 170, 184);
}

p {
	clear:both;
	margin:0;
}

/* No tocar !!! */
.board {
	width:600px;
	margin:0 auto;
	position:relative;
	background:white;
}

.leftFoot, .rightFoot {
	background-color:rgb(69, 170, 184);
	width:30px;
	height:100px;
	float:left;
}

.leftFoot {
	margin-left:-20px;
}
.rightFoot {
	float:right;
	margin-right:-20px;
}

.leftFoot:after, .rightFoot:after {
	content:' ';
	width: 0; 
	height: 0; 
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;	
	border-bottom: 80px solid rgb(69, 170, 184);
	position: absolute;
	bottom: -100px;
}

.leftFoot:after {
	left:-40px;
}
.rightFoot:after {
	right:-40px;
}

.active-r .cell:after {
	background-color: rgba(240, 107, 80,0.2);
	content: ' ';
	height: 120px;
	width: 120px;
	display: block;
	display:none;
}

.active-y .cell:after {
	background-color: rgba(225, 215, 114,0.2);
	content: ' ';
	height: 120px;
	width: 120px;
	display: block;
	display:none;
}

.cell:hover:after {
	display:block;
}

.cell.active-r:after {
	display:block;
	background-color: rgba(240, 107, 80,0.9);
}
.cell.active-y:after {
	display:block;
	background-color: rgba(225, 215, 114,0.9);
}

.reset {
	background-color:rgb(57, 66, 64);
	color:white;
	border:none;
	padding:10px;
	font-size:20px;
	text-align:center;
	width:10%;
	margin:0 auto;
	display:block;
	margin-bottom:10px;
}

@media screen and (max-width:600px) {
	.board {
		width:252px;
	}
	.cell {
		width:32px;
		height:32px;
		border: 2px solid rgb(69, 170, 184);
	}
}